.m-b-16px{margin-bottom: 16px}
.update-category-container{
    width: 100%;
    min-height: 100vh;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.update-category-container .update-category-wrap {
    width: 60%;
    min-height: 80vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 1000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 8px 24px;
}

.left-side {
    display: flex;
    justify-content:flex-end;
}
.left-side > button {
    background-color: transparent;
    border:none;
    padding: 4px 8px;
    color:rgb(190, 61, 61);
   transition: .5s;

}
.left-side > button:hover {
    cursor: pointer;
    transition: .5s;
    color:rgb(255, 0, 0);
}


.update-category-container .update-category-wrap img {
    width:40%;
}
.update-category-container .update-category-wrap .wrap-button  {
    width:100%;
    display: flex;
    justify-content:space-around;
}
.update-category-container .update-category-wrap .btn-change {
    width:40%;
    color: rgb(32, 139, 32);
    border: 1px solid rgb(32, 139, 32);
    transition: .5s;
}
.update-category-container .update-category-wrap  .btn-change:hover:enabled {
    color: white;
    background-color: rgb(32, 139, 32);
    transition: .5s;
}
.update-category-container .update-category-wrap .btn-save {
    width:40%;
    color: rgb(139, 32, 32);
    border: 1px solid rgb(139, 32, 32);
    transition: .5s;
}
.update-category-container .update-category-wrap  .btn-save:hover:enabled {
    color: white;
    background-color: rgb(139, 32, 32);
    transition: .5s;
}
.update-category-container .update-category-wrap .btn:disabled {
    color: rgb(134, 134, 134);
    border: 1px solid rgb(134, 134, 134);
}